@font-face {
  font-family: system;
  src: local('system-ui'), local('.SFNSText-Light'), local('Segoe UI'),
    local('Roboto'), local('Oxygen-Sans'), local('Ubuntu'), local('Cantarell'),
    local('Helvetica Neue');
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: system;
}

.aip-app {
  display: block;
  width: 800px;
  height: 546px;

  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  font-size: 1em;
  font-family: system, sans-serif;

  -webkit-font-smoothing: antialiased;
}

.aip-app *,
.aip-app::before,
.aip-app::after {
  box-sizing: border-box;
}

.aip-app video {
  display: block;
  margin: 0;

  max-width: 100%;
  max-height: 100%;
}
