@font-face {
  font-family: system;
  src: local('system-ui'), local('.SFNSText-Light'), local('Segoe UI'),
    local('Roboto'), local('Oxygen-Sans'), local('Ubuntu'), local('Cantarell'),
    local('Helvetica Neue');
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: system;
}

/*
  The wanted canvas ratio is 16/9. To achieve that with a fixed width at
  800px, height should be 450px plus the height of the controls.
*/
.aip-app {
  display: block;
  width: 800px;
  height: 546px;

  max-width: 100%;
  max-height: 100%;

  box-sizing: border-box;
  background-color: #111;
  color: inherit;
  font-family: system, sans-serif;

  -webkit-font-smoothing: antialiased;
}

.aip-app__unmounted {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aip-app *,
.aip-app::before,
.aip-app::after {
  box-sizing: border-box;
}

.aip-app video {
  display: block;
  margin: 0;

  max-width: 100%;
  max-height: 100%;

  cursor: pointer;
  outline: none;
}
