@font-face {
  font-family: system;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"), local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"), local("Helvetica Neue"); }

:root {
  --aiana-focus-color: #e63312; }

.aiana {
  display: block;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  font-family: system, sans-serif; }

.aiana-btn {
  border: 0; }

.aiana-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.aiana-control-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 100%;
  color: inherit;
  text-align: inherit;
  line-height: inherit; }
  .aiana-control-btn:focus {
    box-shadow: inset 0 0 0 2px var(--aiana-focus-color);
    outline: none; }
  .aiana-control-btn:not([aria-disabled='true']):not([disabled]):not([aria-hidden='true']) {
    cursor: pointer; }
  .aiana-control-btn svg {
    width: 100%;
    height: 100%;
    fill: #ffffff; }
